    * {
      font-family: 'Poppins', sans-serif;
    }

    body {
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 25px;
      width: 100%;
      max-width: fit-content;
    }

    h1
    {
      display: inline-flex;
      font-size: 25px;
    }

    .ressources{
      text-decoration: none;
      font-style: italic;
      font-size: smaller;
      color: black;
      text-decoration: none;
    }
    
    .ressources:hover{
      color: grey;
      cursor: pointer;
      color: red;
    }

    .tooltips {
      display: none; 
    }


    #tomatoImage {
      width: 30px;
      margin-top: 2px;
    }

    

    .buttons {
        outline: none;
        margin: 2px;
        padding: 2px;
        border-radius: 4px;
        border-color: rgb(237, 237, 237);
        border-width: thin;
        font-size: small;
    }

  /*     #inputToDo {
        max-width: 60px;
      } */

      .buttons:hover {
        background-color: rgb(172, 255, 113);
        cursor: pointer;
        background-color: red;
      }
      
      #divInputToDo {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between; 
      }

     /*  #tasksList {
        width: 100%;
      } */

      li {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        margin-left: -40px;
      } 

      li:hover {
        cursor: pointer;
        color: red;
      }

      li.checked {
        text-decoration: line-through;
        color: grey ;
      }

     /*  #legendToDo {
        align-self: flex-start;
      } */

      p#tooltipToDo{
        display: none; 
        font-size:smaller;
        background-color: lightgray;
        border-radius: 5px;
        padding: 2px;
      }
      
      #legendToDo {
        color: red;
        font-size: 20px;
      }