
      body {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 200px;
        padding: 25px;
      }

      h1
      {
        display: inline-flex;
      }

      .ressources{
        text-decoration: none;
        font-style: italic;
        font-size: smaller;
        color: black;
        text-decoration: none;
    }
    
    .ressources:hover{
        color: grey;
        cursor: pointer;
    }

    #tomatoImage {
      width: 30px;
      margin-top: -5px;
    }

    #tooltipText {
      display: none; 
    }

    button {
        margin: 10px;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        border-color: rgb(237, 237, 237);
        border-width: thin;
    }

/*       button:active {
        border: none;
        outline: none;
      }
     */
      #inputToDo {
        max-width: 100px;
      }

      button:hover {
        background-color: rgb(172, 255, 113);
        cursor: pointer;
      }
      
      #divInputTodo {
        display: inline-flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
      }

      #tasksList {
        list-style: none;
        width: 100%;
        padding: 10px;
      }

      li {
        position: relative;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
      } 

      li:hover {
        cursor: pointer;
      }

      li.checked {
        text-decoration: line-through;
        color: grey ;
      }

      #legendToDo {
        align-self: flex-start;
      }

      p#tooltipToDo{
        display: none; 
       /*  position: absolute; */
        font-size:smaller;
        background-color: lightgray;
        border-radius: 5px;
        padding: 2px;
      }
      
      p#tooltipToDo:before {
        content: "";
       /*  position: absolute; */
      }