
  #tomatoImage {
    width: 25px;
    margin-top: 10px;
  }

  h1 {
    text-align: center;
  }
  
  header {
    padding: 10px;
    text-align: center;
  }

  ul {
    list-style: none;
    width: 100%;
    padding: 10px;
  }

  li {
    position: relative;
  }

  li span {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  li:hover {
    cursor: pointer;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  li.checked {
    text-decoration: line-through;
    color: grey ;
  }